@font-face {
        font-family: 'font1';
         src: url('./Fonts/tecnico_regular.ttf');
}


:root {
        --primary-color: #5a8006;
        --secondary-color: #adcf02;
        --light-grey:#d0d3d6;
        --dark-grey:#9ea0a3;
        --blue: #00566b;
        --font-family: 'Arial, sans-serif';
        --font-size: 16px;
        --border-radius: 5px;
}

*, html, body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        display: flex;
        justify-content: center;
        padding: 20px;
}

h1 {
        font-family: 'font1' ;
        color: var(--primary-color);
        margin: 30px 0;
}
hr {
        height: 3px;
        background-color: var(--secondary-color);
        border: 0;
        border-radius: 50px;
        margin: 30px 0;

}

button {
        padding: 10px 5px;
        margin: 0 5px;
}


nav {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 40px 0 15px 0;

}

nav > * {
        width: 22%;
        border-radius: 8px;
}

main {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-left: 15%;
        margin-top: 20px;

}



ul, ol {
        line-height: 2;
}

footer {
        background-color: rgb(227, 250, 231);
        margin-top: 30px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
}


#wrapper {
        width: 600px;
        padding: 20px 0;
}



#SettingUp, #UsingService, #Contact {
        display: none;
}


#AboutButton {
        background-color: var(--primary-color);
        color: #d0d3d6;
        font-weight: 900;

}

